management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: prometheus

spring:
  application:
    name: gateway
  zipkin:
    base-url: http://localhost:9411
    sender:
      type: web
  cloud:
    gateway:
      routes:
        - id: path_route
          uri: http://127.0.0.1:8082
          predicates:
            - Path=/books
        - id: path_route
          uri: http://127.0.0.1:8082
          predicates:
            - Path=/books/{segment}
        - id: path_route
          uri: http://127.0.0.1:8081
          predicates:
            - Path=/isbns
# SECURITY CONFIGURATION TO BE APPLIED (remove comments to apply it)
#  security:
#    oauth2:
#      client:
#        registration:
#          login-client:
#            provider: authz
#            client-id: gateway
#            client-secret: secret3
#            authorization-grant-type: client_credentials
#            redirect-uri-template: "{baseUrl}/"
#            scope: gateway
#        provider:
#          authz:
#            authorization-uri: http://localhost:8009/oauth2/authorize
#            token-uri: http://localhost:8009/oauth2/token
#            user-info-uri: http://localhost:8009/oauth2/userinfo
#            user-name-attribute: sub
#            jwk-set-uri: http://localhost:8009/oauth2/token_keys
#      resourceserver:
#        jwt:
#          jwk-set-uri: http://localhost:8009
