server:
  port: 8082
  servlet:
    context-path: /v1
spring:
  ## The most important feature... ever
  banner:
    location=classpath:/banner.txt
  datasource:
    url: jdbc:postgresql://localhost:5432/books_database
    username: book
    password: book
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
  cloud:
    circuitbreaker:
      resilience4j:
        enabled: true
  application:
    name: rest-book
  zipkin:
    base-url: http://localhost:9411
    sender:
      type: web


management:
  tracing:
    sampling:
      probability: 1.0
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: '*'
    jmx:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
      enabled: true
      probes:
        enabled: true
    shutdown:
      enabled: true
    prometheus:
      enabled: true
    metrics:
      enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
    datasource:
      enabled: true
springdoc:
  api-docs:
    enabled: true
  writer-with-default-pretty-printer: true


booknumbers:
  api:
    url: http://127.0.0.1:8081/v1/isbns
    timeout_sec: 2

# Default values
logging:
  level:
    org:
      hibernate:
        stat: info
        type: info
      springframework:
        web: info
